{{template "base/base.html" .}}

{{define "meta"}}
<title>Blog Template for Bootstrap</title>
{{end}}

{{define "body"}}

<div class="container">

    <div class="blog-header">
    <h1 class="blog-title">The Bootstrap Blog</h1>
    <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
    </div>

    <div class="row">

    <div class="col-sm-8 blog-main">

        {{with .Posts}}
        {{range .}}
        <div class="blog-post">
        <h2 class="blog-post-title"><a href="{{.ReqURL}}" rel="bookmark">{{.Title}}</a></h2>
        <p class="blog-post-meta">{{.Time}} by <a href="#">{{.Author}}</a></p>
                </div><!-- /.blog-post -->
                {{end}}
        {{end}}

        <nav>
        {{if gt .paginator.PageNums 1}}
        <ul class="pagination pagination-sm">
            {{if .paginator.HasPrev}}
                <li><a href="{{.paginator.PageLinkFirst}}">首页</a></li>
                <li><a href="{{.paginator.PageLinkPrev}}">&lt;</a></li>
            {{else}}
                <li class="disabled"><a>首页</a></li>
                <li class="disabled"><a>&lt;</a></li>
            {{end}}
            {{range $index, $page := .paginator.Pages}}
                <li{{if $.paginator.IsActive .}} class="active"{{end}}>
                    <a href="{{$.paginator.PageLink $page}}">{{$page}}</a>
                </li>
            {{end}}
            {{if .paginator.HasNext}}
                <li><a href="{{.paginator.PageLinkNext}}">&gt;</a></li>
                <li><a href="{{.paginator.PageLinkLast}}">尾页</a></li>
            {{else}}
                <li class="disabled"><a>&gt;</a></li>
                <li class="disabled"><a>尾页</a></li>
            {{end}}
        </ul>
        {{end}}
        </nav>

    </div><!-- /.blog-main -->

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>
        <div class="sidebar-module">
        <h4>Archives</h4>
        <ol class="list-unstyled">
            <li><a href="#">March 2014</a></li>
            <li><a href="#">February 2014</a></li>
            <li><a href="#">January 2014</a></li>
            <li><a href="#">December 2013</a></li>
            <li><a href="#">November 2013</a></li>
            <li><a href="#">October 2013</a></li>
            <li><a href="#">September 2013</a></li>
            <li><a href="#">August 2013</a></li>
            <li><a href="#">July 2013</a></li>
            <li><a href="#">June 2013</a></li>
            <li><a href="#">May 2013</a></li>
            <li><a href="#">April 2013</a></li>
        </ol>
        </div>
        <div class="sidebar-module">
        <h4>Elsewhere</h4>
        <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
        </ol>
        </div>
    </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->

{{end}}