{{template "base/base.html" .}}

{{define "meta"}}
<title>{{.Title}}</title>
<link href="/static/css/github-markdown.css" rel="stylesheet">
{{end}}

{{define "body"}}

<div class="container">

<div class="blog-header">
  <h1 class="blog-title">{{.Title}}</h1>
  <p class="lead blog-description">{{.Description}}</p>
</div>

<div class="row">
<div class="markdown-body">
<div id="content">
</div>
</div>
</div>

</div>

<script src="/static/marked/marked.min.js"></script>
<script>
document.getElementById('content').innerHTML = marked('{{.Content}}');
</script>

{{end}}