{{template "base/base.html" .}}

{{define "meta"}}
<title>Blog Template for Bootstrap</title>
{{end}}

{{define "body"}}

<div class="container">
    <div class="row">
    
        <h2>About</h2>

        <p>Welcome to MDGSF blog.
        This is my first beego blog. This blog will
        include my study notes, informal essay and other
        stuffs, enjoy yourself.<p>

        <p><strong>GitHub</strong>: [MDGSF](https://github.com/MDGSF)</p>

        <p><strong>Email</strong>: 1342042894@qq.com</p>

    </div>
</div>

{{end}}