{{template "base/base.html" .}}

{{define "meta"}}
<title>Blog Template for Bootstrap</title>
{{end}}

{{define "body"}}
<div class="container">
	<div class="row">

		<div>
			<a href="/classification?categorytype=postcategory" type="button" 
			class="btn {{if .IsPostCategory}}btn-info{{else}}btn-default{{end}}">
				{{i18n .Lang "classification.tr_category"}}
			</a>

			<a href="/classification?categorytype=monthcategory" type="button" 
			class="btn {{if .IsMonthCategory}}btn-info{{else}}btn-default{{end}}">
				{{i18n .Lang "classification.tr_yearmonth"}}
			</a>
		</div>

		{{if .IsPostCategory}}
		<div>
			{{range $categoryname, $postarr := .classificationCategory}}
			<h4>{{$categoryname}}</h4>
			<ul>
				{{range $postIndex, $post := $postarr}}
				<li>
					{{$post.YearMonth}}
					<a href="{{ $post.ReqURL }}">{{ $post.Title }}</a>
				</li>
				{{end}}
			</ul>
			{{end}}
		</div>
		{{end}}

		{{if .IsMonthCategory}}
		<div>
			{{range $categoryname, $postarr := .classificationYearMonth}}
			<h4>{{$categoryname}}</h4>
			<ul>
				{{range $postIndex, $post := $postarr}}
				<li>
					{{$post.YearMonth}}
					<a href="{{ $post.ReqURL }}">{{ $post.Title }}</a>
				</li>
				{{end}}
			</ul>
			{{end}}
		</div>
		{{end}}

	</div>
</div>
{{end}}