{{template "base/base.html" .}}

{{define "meta"}}
<title>Blog Template for Bootstrap</title>
{{end}}

{{define "body"}}

<div class="container">

    <div class="blog-header">
    <h1 class="blog-title">{{i18n .Lang "tr_title_name"}}</h1>
    <p class="lead blog-description">{{i18n .Lang "tr_sub_title_name"}}</p>
    </div>

    <div class="row">

    <div class="col-sm-8 blog-main">

        {{with .Posts}}
        {{range .}}
        <div class="blog-post">
        <h2 class="blog-post-title"><a href="{{.ReqURL}}" rel="bookmark">{{.Title}}</a></h2>
        <p class="blog-post-meta">{{.Abstraction}}</p>
        <p class="blog-post-meta">{{.Time}} by <a href="#">{{.Author}}</a></p>
        </div><!-- /.blog-post -->
        {{end}}
        {{end}}

        {{template "base/paginator.html" .}}

    </div><!-- /.blog-main -->

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
        <h4>{{i18n .Lang "about"}}</h4>
        <p>{{i18n .Lang "tr_sidebar_about_content"}}</p>
        </div>
        <div class="sidebar-module">
        <h4>{{i18n .Lang "Archives"}}</h4>
        <ol class="list-unstyled">
            {{range $index, $value := .YearMonthArchives}}
            <li><a href="/yearmontharchives/?name={{$index}}">{{$index}}({{($value|len)}})</a></li>
            {{end}}
        </ol>
        </div>
        <div class="sidebar-module">
        <h4>{{i18n .Lang "Tags"}}</h4>
        <ol class="list-unstyled">
            {{range $index, $value := .TagsArchives}}
            <li><a href="/tags/?name={{$index}}">{{$index}}({{($value|len)}})</a></li>
            {{end}}
        </ol>
        </div>
        <div class="sidebar-module">
        <h4>{{i18n .Lang "Elsewhere"}}</h4>
        <ol class="list-unstyled">
            {{if .AppAuthorEmail|len}}
            <li><a target="_blank" href="mailto:{{.AppAuthorEmail}}">{{i18n .Lang "email"}}</a></li>
            {{end}}
            {{if .AppAuthorGitHub|len}}
            <li><a target="_blank" href="{{.AppAuthorGitHub}}">GitHub</a></li>
            {{end}}
            {{if .AppAuthorTwitter|len}}
            <li><a target="_blank" href="{{.AppAuthorTwitter}}">{{i18n .Lang "Twitter"}}</a></li>
            {{end}}
            {{if .AppAuthorFacebook|len}}
            <li><a target="_blank" href="{{.AppAuthorFacebook}}">{{i18n .Lang "Facebook"}}</a></li>
            {{end}}
        </ol>
        </div>
    </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->

{{end}}