{{template "base/base.html" .}}

{{define "meta"}}
<title>{{.TitleName}}</title>
<link href="/static/css/github-markdown.css" rel="stylesheet">
{{end}}

{{define "body"}}

<div class="container">

<div class="blog-header">
  <h1 class="blog-title">{{.TitleName}}</h1>
</div>

<div class="row">
    {{range $index, $value := .Articles}}
    <a href="{{.ReqURL}}" class="list-group-item"><h4>{{$value.Title}}</h4> {{$value.YearMonth}} {{$value.Author}}</a>
    {{end}}
</div>

</div> <!-- container -->


{{end}}