
{{define "meta"}}
<link href="/static/css/navbar.css" rel="stylesheet">
{{end}}

<div id="topheader">
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<!-- The mobile navbar-toggle button can be safely removed since you do not need it in a non-responsive implementation -->
			<a class="navbar-brand" href="#">Project name</a>
		</div>
		<!-- Note that the .navbar-collapse and .collapse classes have been removed from the #navbar -->
		<div id="navbar">
			<ul class="nav navbar-nav">
				<li {{if .IsHome}}class="active"{{end}}><a href="/">{{i18n .Lang "topheader_nav.tr_home"}}</a></li>
				<li {{if .IsCategory}}class="active"{{end}}><a href="/classification">{{i18n .Lang "topheader_nav.tr_classification"}}</a></li>
				<li {{if .IsAbout}}class="active"{{end}}><a href="/about">{{i18n .Lang "topheader_nav.tr_about"}}</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown
						<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li role="separator" class="divider"></li>
						<li class="dropdown-header">Nav header</li>
						<li><a href="#">Separated link</a></li>
						<li><a href="#">One more separated link</a></li>
					</ul>
				</li>
			</ul>
			<form class="navbar-form navbar-left" action="/search" method="post" name="searchForm" onsubmit="return validateSearchForm()">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="{{i18n .Lang "topheader_nav.tr_search"}}" name="searchContent">
				</div>
				<input type="submit" class="btn btn-default" value="{{i18n .Lang "topheader_nav.tr_submit"}}">
			</form>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
</nav>
</div>
